.slider{
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  width: 270px;
  height: 200px;
}

.left{
  color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 3em;
  position: absolute;
  bottom: 25%;
  text-decoration: none;
}

.right{
  color: rgba(0, 0, 0, 1);
  font-size: 3em;
  position: absolute;
  bottom: 25%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.left:hover, .right:hover{
  text-decoration: none;
}
