.gallery { /* stylelint-disable */

}

.thumb {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.image {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  -webkit-transform: translate(0px, -51%);
  -moz-transform: translate(0px, -51%);
  -ms-transform: translate(0px, -51%);
  -o-transform: translate(0px, -51%);
  transform: translate(0px, -51%);
  position: relative;
  top: 50%;
  vertical-align: top;
}

.thumbList {
  margin-top: 0px;
  margin-left: -5px;
  margin-right: -5px;
}

.tl {
  padding-left: 0px;
  padding-right: 0px;
  width: 20%;
  float: left;
}
