.navigation {
  padding-top: 30px;
  margin-bottom: 40px;
  color: #000;
}

.logo {
  width: 250px;
}

.list {
  width: 130px;
  display: inline-block;
  margin-left: 10px;
}

.list li:last-child a {
  border: none;
}

.list a {
  display: inline-block;
  width: 100%;
  border-bottom: solid 1px #000;
  color: #000;
}

.list a:hover {
  color: #1C9D19;
}
