.homeSearch { /* stylelint-disable */

}

.main {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.select {
  margin-bottom: 9px;
}

.formControl {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0px !important;
  border: solid 1px #000;
  color: #000;
  width: auto;
  display: inline-block;
}

.link {
  color: #000;
  position: absolute;
  bottom: 0px;
  width: auto;
  left: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.link:hover {
  color: #000;
}

.title {
  left: 0px;
  top: -40px;
  width: 100%;
  position: absolute;
  text-align: left;
}

.subTitle {
  margin-left: -5%;
  text-align: left;
}

.searchContent {
  border-left: solid 2px rgba(0, 0, 0, 0.2);
  border-right: solid 2px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin-left: 10%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  padding-bottom: 60px;
  padding-top: 20px;
  text-align: center;
  min-height: 150px;
}

.alert {
  position: absolute;
  left: 0px;
  bottom: -25px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  white-space: nowrap;
}

.button {
  position: absolute;
  bottom: 0px;
  width: auto;
  left: 20px;
  right: 20px;
}
