.headText {
  line-height: 50px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.link {
  display: inline-block;
}

.link a {
  display: inline-block;
}

.link a img {
  height: 50px;
}
